/* VS Code のテーマ変数に追従させる */
body {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

pre {
  font-family: var(--vscode-editor-font-family);
}
